{% extends "base.html" %}

{% block title %} - About {% endblock %}


<!-- About Menu - Start -->
{% block menu %}
  <a href="{% url 'contact:contact_me' %}" title="Contact Me"><i class="icon-envelope"></i></a>
{% endblock %}
<!-- About Menu - End -->

<!-- About Content - Start -->
{% block content %}
  <div class="mx-4 content-page">
    <div class="blog-post">
      <h1>
        Who is <span class="main-color">{{ doridoro_details.first_name }} {{ doridoro_details.last_name }}</span>?
      </h1>

      <!-- Professions Content - Start -->
      {% if doridoro_details.professions %}
        <div class="flex mb-4">
          {% for profession in doridoro_details.professions %}
          <ul class="knowledge">
            <li class="bg-color-{{ forloop.counter }}">{{ profession }}</li>
          </ul>
          {% endfor %}
        </div>
      {% endif %}
      <!-- Professions Content - End -->

      <!-- Introduction Content - Start -->
      {% if doridoro_details.introduction %}
        <p>{{ doridoro_details.introduction }}</p>
      {% endif %}
      <!-- Introduction Content - End -->

      <!-- Services Content - Start -->
      {% if doridoro_details.services %}
        <div class="post-title">
          <h2>My <span class="main-color">Services</span></h2>
        </div>

        <div class="list list-style-2">
          {% for service in doridoro_details.services %}
          <ul>
            <li>{{ service }}</li>
          </ul>
          {% endfor %}
        </div>
      {% endif %}
      <!-- Services Content - End -->
    </div>
  </div>

  <!-- Websites Content - Start -->
  <div class="mx-4">
    <div class="col-md-12">
      {% if doridoro_details.websites %}
        <div class="you-may-also-like mt-4">
          <h3>My deployed Websites</h3>
          <div class="row">
            {% for url, website in doridoro_details.websites %}
            <div class="col-md-6 col-xs-12">
              <a href="{{ url }}"><p>{{ website }}</p></a>
            </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <!-- Websites Content - End -->
{% endblock %}
<!-- About Content - End -->