{% extends "base.html" %}

{% block title %} - Reset your password{% endblock %}

<!-- Password Reset Content - Start -->
{% block content %}
  <div class="mx-4 mb-4 content-page">
    <div class="blog-post">
      <h1><span class="main-color">Forgotten</span> your password?</h1>
      <p>Enter your e-mail address to obtain a new password.</p>
      <form method="post" class="mt-4">
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Send e-mail</button>
        {% csrf_token %}
      </form>
    </div>
  </div>
{% endblock %}
<!-- Password Reset Content - End -->