<ul class="menu-link">
  <li><a href="{% url 'blog:post_list' %}" title="Go to Home Page">Home</a></li>
  <li><a href="{% url 'blog:about_me' %}" title="Visit About">About</a></li>
  <li><a href="{% url 'contact:contact_me' %}" title="Contact Me">Contact</a></li>
  {% if not request.user.is_authenticated %}
    <li><a href="{% url 'account:login' %}" title="Log in">Log in</a></li>
  {% else %}
    <li><a href="{% url 'account:dashboard' %}" title="Go to dashboard">Dashboard</a></li>
  {% endif %}
</ul>