{% extends "base.html" %}
{% load blog_tags %}

{% block title %} - Dori's Python Life in Words {% endblock %}

<!-- Posts/Articles Menu - Start -->
{% block menu %}
  <a href="contact.html" title="Contact Me"><i class="icon-envelope"></i></a>
{% endblock %}
<!-- Posts/Articles Menu - Start -->

<!-- Posts/Articles Content - Start -->
{% block content %}
  {% if tag %}
    <div class="margin-left-30">
      <p>Posts tagged with "{{ tag.name }}"</p>
    </div>
  {% endif %}

  <!-- List of Posts - Start -->
  <div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">
      {% for post in posts %}
        <div class="post-title">
          <a href="{{ post.get_absolute_url }}">
            <h2>{{ post.title }}</h2>
          </a>
        </div>
        {% if post.tags.exists %}
        <p>
          <strong>Tags:</strong>
          {% for tag in post.tags.all %}
          <a href="{% url 'blog:post_list_by_tag' tag.slug %}" title="Check out the Tag">
            {{ tag.name }}
          </a>{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </p>
        {% endif %}

        <div class="post-info">
          <span>
            Published {{ post.publish }} by <strong><a href="{% url 'blog:about_me' %}"
              title="Visit About" target="_blank">{{ post.author }}</a></strong>
          </span>
        </div>
        <div class="post-body">
          {{ post.body|markdown|truncatewords:50 }}
          {% if not forloop.last %}
            <hr>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
  <!-- List of Posts - End -->

  <!-- Pagination - Start -->
  {% include "pagination.html" with page=page_obj %}
  <!-- Pagination  End -->
{% endblock %}
<!-- Posts/Articles Content - Start -->