{% extends "base.html" %}
{% block title %}Error 500 - Internal Server Error{% endblock title %}

<!-- Error 500 - Start -->
{% block content %}
  <div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">
      <div class="post-title">
        <h1 class="">Yikes! Something Went Wrong</h1>
      </div>

      <div class="post-body">
        <p>
          We're experiencing some technical difficulties right now. Please bear with us
          while we fix the issue. And try refreshing the page.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
<!-- Error 500 - End -->