{% extends "base.html" %}
{% block title %}Error 404 - Page not found{% endblock title %}

<!-- Error 404 - Start -->
{% block content %}
  <div class="col-md-12 content-page">
    <div class="col-md-12 blog-post">
      <div class="post-title">
        <h1 class="">Oops! Page Not Found</h1>
      </div>

      <div class="post-body">
        <p>
          We're sorry, but the page you're looking for doesn't seem to exist. It might have
          been moved, deleted, or perhaps the URL was entered incorrectly.
        </p>
      </div>
    </div>
  </div>
{% endblock %}
<!-- Error 404 - End -->