<div class="row post-comment">
  <div class="col-md-11">
    <!-- Add a Comment - Start -->
    <div class="row margin-bottom-70">
      <h2>Add a new comment</h2>
      <form action="{% url 'blog:post_comment' post.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.body }}
        </div>
        <p>
          <input class="btn bg-main-color font-main-color" type="submit" value="Add comment">
        </p>
      </form>
    </div>
    <!-- Add a Comment - End -->
  </div>
</div>