<div class="row post-comment m-3">
  <div class="col-md-11">
    <!-- Add a Comment - Start -->
    <div class="row">
      <h3>Add a new comment</h3>
      <form action="{% url 'blog:post_comment' post.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          {{ form.body }}
        </div>
        <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ post.get_absolute_url }}'">
          Cancel
        </button>
        <button type="submit" class="btn btn-primary">Add comment</button>
      </form>
    </div>
    <!-- Add a Comment - End -->
  </div>
</div>